.row {
	display: flex;
}

.cell {
	height: 20px;
	width: 20px;
	border: 1px solid white;
}

.spotter-ctn {
	border-collapse: collapse;
	display: inline-block;
}

.shake {
	animation: shake 0.8s infinite;
	transform: translate3d(0, 0, 0);
}

@keyframes shake {
	0% {
		transform: translateX(0);
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		transform: translateX(-8px);
	}
	20%,
	40%,
	60%,
	80%,
	100% {
		transform: translateX(8px);
	}
}
